<div *ngIf="employee">
    <h2><span>Associate Employee</span> {{employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div>
        <h3>Basic info</h3>
        <dl class="row-md jh-entity-details">
            <dt><span>Employee Name</span></dt>
            <dd>
                <span>{{employee.employeeName}}</span>
            </dd>
            <dt><span>Hire Date</span></dt>
            <dd>
                <span>{{employee.hireDate | date:'mediumDate'}}</span>
            </dd>
            <dt><span>Position</span></dt>
            <dd>
                <span>{{employee.position}}</span>
            </dd>
            <dt><span>Favourite tool to use</span></dt>
            <dd>
                <span>{{employee.favouriteTool}}</span>
            </dd>
            <dt><span>Special preference of coffee</span></dt>
            <dd>
                <span>{{employee.coffeePreference}}</span>
            </dd>
        </dl>
    </div>
    <div>
        <h3>Salaries summary</h3>
        <table class="table table-sm table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th>Assign date</th>
                <th>Salary</th>
            </tr>
            </thead>
            <tr *ngFor="let sal of salaries">
                <td><span>{{sal.assignDate| date:'mediumDate'}}</span></td>
                <td><span>{{sal.salary| number:'1.2'}}</span></td>
            </tr>
            <tr *ngIf="!salaries?.length">
                <td colspan="2"><span>No data</span></td>
            </tr>

            <tfoot class="thead-light" *ngIf="salaries?.length">
            <tr>
                <th>Average</th>
                <th>{{getAverage() | number:'1.2'}}</th>
            </tr>
            <tr>
                <th>Total</th>
                <th>{{getTotal() | number:'1.2'}}</th>
            </tr>
            <tr>
                <th>Min</th>
                <th>{{getMin() | number:'1.2'}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

</div>
